*{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 0.7vw;
}
.container{
    width: 60%;
    margin: 0 auto;
}

.row{
    float: left;
    width: 100%;
}

.mb{
    margin-bottom: 30px;

}
.mb10{
    margin-bottom: 10px;
}
.mr{
    margin-right: 2%;
}
.demo{
    background-color: aqua;
    min-height: 100px;
}

.header{
    background-color: beige;
    border: 1px solid greenyellow;
    color: rebeccapurple;
  
}
.footer{
    background-color: aquamarine;
    border: 1px solid greenyellow;
    font-size: 0.8vw;
    color: blue;
    border-radius: 5px;
    padding: 20px;
}
.header h1{
    margin:20px;
    font-size: 1.2vw;
}
.menu{
    background-color: black;
    color: white;
    border-radius: 5px;
}
.boxtrai{
    float: left;
    width: 74%;
}
.boxphai{
    float: left;
    width: 24%;
}
.boxtitle{
    color: #333;
    padding: 10px;
    background-color: #EEE;
    border-radius: 5px 5px 0 0;
    border: 1px #CCC solid;

}
.boxcontent{
    border: 1px solid #CCC;
    border-radius: 0 0 5px 5px;
    min-height: 266px;
    padding: 20px;
}
.boxcontent2{
    border: 1px solid #CCC;
    min-height: 200px;
    background-color: #EEE;
}
.boxfooter{
    padding: 10px;
    background-color: #EEE;
    border-radius: 0 0 5px 5px;
    border:1px solid #CCC;
}
.banner{
    min-width: 300px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.banner img{
    height: 300px;
    width: 100%;
}
.boxsp{
    float: left;
    width: 32%;
    min-height: 312px;
    border: 1px solid #EEE;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.boxsp .img{
    min-width: 230px;
    text-align: center;
    margin-bottom: 30px;
}

.img img{
    height: 210px;
    padding-top: 10px;
}

.menu ul{
    padding:0 15px;
}
.menu ul li{
    list-style-type: none;
    display: inline;
    padding: 0 20px;
}
.menu ul li a{
    color: #CCC;
    text-decoration: none;
    transition: 0.5s;
}
.menu ul li a:hover{
    color: white;
    font-size: 0.8vw;
}



/*Box tài khoản*/
.formuser{
    line-height: 20px;
}
.formuser input[type="text"],input[type="password"],
.frmcontent input[type="text"]
{
    width: 100%;
    border: 1px #CCC solid;
    padding: 5px;
    border-radius: 5px;
}
.formuser input[type="submit"], 
.frmcontent input[type="submit"],input[type="reset"],input[type="button"]{
    border-radius: 5px;
    background-color: white;
    padding: 5px 10px;
    border: 1px solid #CCC;
}
.formuser input[type="submit"]:hover,
.frmcontent input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover
{
    background-color: #ccc;
}
.formuser li a{
    color: teal;
    text-decoration: none;
}
.formuser li a:hover{
    color: rgb(0, 5, 153);
    text-decoration: underline;
}

 /*Menu dọc*/

.menudoc ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.menudoc ul li{
    padding: 10px 20px;
    background-color:white;
    border-bottom: #ccc solid 1px;
}
.menudoc ul li a{
    color: #666;
    text-decoration: none;
}
.menudoc ul li a:hover{
    color: #f12727;
    text-decoration: underline;
}
.search input[type="text"]{
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #CCC;
    background-color: white;
    border-radius: 5px;    
}
/*Top sản phẩm*/
.top img{
    width: 25%;
    height: 45px;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #CCC;
}
.top a{
    color: #666;
    text-decoration: none;
}
.top a:hover{
    color: #000;
    text-decoration: underline;
}


/*ADMIN*/
.headerAdmin{
    background-color: beige;
    border: 1px solid greenyellow;
    color: rebeccapurple;
    border-radius: 5px;
    padding: 0px 20px;
    
}
.headerAdmin h1{
    font-size: 2vw;
}
.frmtitle{
    background-color: #EEE;
    border: 1px solid #CCC;
    color: #666;
    border-radius: 5px;
    padding: 0 20px;
}
.frmcontent{
    padding: 20px 0px;
}

.frmds table{
    width: 100%;
    border-collapse: collapse;
    
}
.frmds table th{
    padding: 20px;
    background-color: #CCC;
}


.frmds table td{
    padding: 10px 20px;
    border: 1px solid #CCC;
}


